<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Escape From IUT</a>
        <ul>
            <li><a href="/game">Chapitres:</a></li>
            <li><a href="/game/chapter1">I</a></li>
            <li><a href="/game/chapter2">II</a></li>
            <li><a href="/game/chapter3">III</a></li>
            <li><a href="/game/chapter4">IV</a></li>
        </ul>
        <ul>
            <li><a href="/game">Game</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
</header>
