<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/javascripts/dragAndDrop.js"></script>
    <script defer src="/javascripts/hints.js"></script>
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Opération Année Réussie</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>
