<div class="page-grid">
    <h1 class="page-title"><img src="https://cdn.discordapp.com/attachments/1071222520516194335/1075913168469114970/logo.png" alt="Logo"></h1>
    <section class="content diagonal-positive">
        <h2 class="section-title">Présentation</h2>
        <p>Opération: année réussie est un escape game sur navigateur,
            le joueur doit réussir des énigmes assez simples
            portant sur de la logique et des connaissances informatiques.</p>
    </section>
    <section class="content diagonal-negative">
        <h2 class="section-title">Le scénario</h2>
        <p>Vous êtes un élève du département informatique, malheureusement vos notes sont trop basses
            pour avoir ton année, vous êtes le seul parmis vos amis à ne pas avoir son année
            ,mais vous avez une idée, vous allez vous faufiler dans la salle des notes pour modifier
            vos notes et réussir votre année; pour ça, vous allez être aidé par vos amis.</p>
    </section>
    <a class="btn btn-primary" href="/game">Jouer</a>
</div>
