<h1 class="page-title">Chapter 1: Opération année réussie?</h1>
<div class="page-grid">
    <section class="content diagonal-positive">
        <h2>Élève</h2>
        <p>Bon, pour pénétrer dans la salle des notes, il nous faut le code, personne ne le connaît, excepté le chef du département; en plus, les anciens chefs de département ne le connaissent pas, il change chaque année !</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Julien</h2>
        <p>Il faudrait trouver une solution, personnellement, je sais que le chef de département tient un journal intime sur internet, sauf qu’il l’a mis en libre service… on peut y accéder avec un lien, un élève y a déjà accédé.</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Mathis</h2>
        <p>Pourquoi ne pas se faufiler dans son bureau quand il va aux toilettes? Il faut quelqu’un de discret… qui pourrait faire l’affaire?</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Lucas</h2>
        <p>Pourquoi vous me regardez tous, moi je vous suis pas j’ai des valeurs, il faut obtenir son diplôme sans tricher !</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Tyméo</h2>
        <p>Ça va toi à croire t’as jamais triché...</p>
    </section>
    <section class="content diagonal-negative">
        <h2>Lucas</h2>
        <p>C’est bon ta bouche, je vais le faire, si j’me fais choper je vous poucave tous !</p>
    </section>
    <section class="content diagonal-positive">
        <h2>L'ordi de Chef</h2>
        <p>Le chef du département part aux toilettes, Lucas se faufile discrètement, mais l’ordinateur du chef de département est verrouillé, il faut un code !</p>
        <p class="help">01000110 01101111 01110101 01101001 01101100 01101100 01100101 00100000 01100100 01100001 01101110 01110011 00100000 01101100 01100101 00100000 01100011 01101111 01100100 01100101 00100000 01110011 01101111 01110101 01110010 01100011 01100101 00101100 00100000 01101100 01100101 01110011 00100000 01100011 01101111 01101101 01101101 01100101 01101110 01110100 01100001 01101001 01110010 01100101 01110011 00100000 01110011 01101111 01101110 01110100 00100000 01110011 01101111 01110101 01110110 01100101 01101110 01110100 00100000 01110101 01110100 01101001 01101100 01100101 01110011 00100000 00100001</p>
        <p id="binaryHint1"></p>
        <p id="binaryHint2"></p>
        <!--Cookies?-->
        <button class="btn btn-primary" onclick="binaryHint()">Aide</button>
    </section>
    <a class="btn btn-primary" href="/admin">Admin Page</a>
    <a class="btn btn-primary" href="/game/chapter2">Next Chapter</a>
</div>
