<h1 class="page-title">You Ended The Game! Congrats</h1>
<div class="page-grid">
    <section class="content diagonal-negative">
        <h2>On dirait bien que votre mission est un succès. Vous avez réussi à modifier vos notes et a passé à l'année suivante sans que personne ne se doute de rien.</h2>
        <p>To restart the game, delete all cookies and go <a href="/">here</a></p>
    </section>
</div>