<h1 class="page-title">Game</h1>
<div class="page-grid">
    <section class="content diagonal-negative">
        <h2>Intro</h2>
        <p>Tu es un élève du département informatique, malheureusement tes notes sont trop basses pour avoir ton année, tu es le seul parmis tes amis qui n’aura pas ton année, mais tu as une idée, tu veux te faufiler dans la salle des notes pour modifier tes notes et réussir ton année; pour ça, tu vas être aidé par tes amis.
            Le jeu se joue sur navigateur, il mêle logique et connaissance informatique.</p>
    </section>
    <a class="btn btn-primary" href="/game/chapter1">Start</a>
</div>
